bin/plink
bin/admixture
docs/slides_test.pdf
data/1kg.vcf.gz
data/1kg.ped
data/1kg.map
data/1kg.bed
data/1kg.bim
data/1kg.fam
data/1kg_unrelated.*
data/1kg_common.*
data/origins_common.*
data/1kg_origins_combined.*
data/1kg_origins_pruned.*
data/1kg_origins_recoded.raw
data/plink.prune.in
data/plink.prune.out
output/*.RData
output/*.pdf
